@import "tailwindcss";

@font-face {
  font-family: LatoThin;
  src: url("../fonts/lato/Lato-Thin.ttf");
}

@font-face {
  font-family: LatoLight;
  src: url("../fonts/lato/Lato-Light.ttf");
}

@font-face {
  font-family: LatoRegular;
  src: url("../fonts/lato/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoBold;
  src: url("../fonts/lato/Lato-Bold.ttf");
}

@font-face {
  font-family: LatoBlack;
  src: url("../fonts/lato/Lato-Black.ttf");
}
